# Do not upload code style settings
.prettierrc
.prettierignore
.eslintrc
tsconfig.json
tslint.json

# Do not upload the Code of Conduct
CODE_OF_CONDUCT.md

# You can find the source code at https://github.com/1337z/lisher
src
