# Do not upload code style settings
.eslintrc
.prettierignore
.prettierrc

# Do not upload TypeScript settings
tsconfig.json
tslint.json

# Do not upload gitattributes
.gitattributes

# Do not upload the Code of Conduct
CODE_OF_CONDUCT.md

# You can find the source code at https://github.com/1337z/lisher
src/

# Do not upload `.github` directory
.github/

# Do not upload TravisCI settings
.travis.yml
